.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Editors and IDEs
.vscode/
.idea/
*.iml
*.iws
*.ipr
*.swp
*.swo
*~

# Environment
.env

*.docx